<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<bean name="/message/messageList"
		class="com.kurui.mq.message.action.MessageListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="messageBiz">
			<ref bean="messageBiz" />
		</property>
	</bean>

	<bean name="/message/message"
		class="com.kurui.mq.message.action.MessageAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="messageBiz">
			<ref bean="messageBiz" />
		</property>
	</bean>

	<bean name="messageBiz"
		class="com.kurui.mq.message.biz.MessageBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
	
	</bean>
</beans>